@{
                /**/

                ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/Content/Style/IndexStyle.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
</head>
<div class="jumbotron jumbotron-fluid text-white text-center top">
    <div class="container">
        <h1 class="text-uppercase top-header">Sprawdź jak działają <span class="text-warning">profesjonaliści</span></h1>
        <p class="top-text"><blockquote>"Od 2004 roku nr<span class="text-warning"> 1 </span>   na rynku firm spedycyjnych"</blockquote></p>
        <button class="btn btn-warning text-white top-button">Więcej</button>
    </div>
</div>

<div class="container information">
    <div class="row">
        <div class="col-md-3">
            <div class="test">
                <img src="~/Content/Images/Index/Section_infromation/time.jpg" alt="img_information_1" class="circular" />
            </div>
            <h4 class="text-uppercase">Terminowość</h4>
            <p>
                Usługi przez nas wykonywane, wyróżniają się największą
                starannością i terminowością dostaw. Kadra zarządzająca
                charakteryzuje się wysokimi kwalifikacjami zawodowymi,
                popartymi licznymi certyfikatami.

            </p>
        </div>
        <div class="col-md-3">
            <h4 class="text-uppercase">Najnowocześniejsza flota</h4>
            <p>
                Posiada najnowocześniejszą flotę pojazdów o kubaturze umożliwiającej przewóz różnej wielkości towarów.
                Ponadto wszystkie auta wyposażone są w materiały zabezpieczające, tj. pasy mocujące, gąbki, przekładki tekturowe.
            </p>
            <div class="test">
                <img src="~/Content/Images/Index/Section_infromation/flota.jpg" alt="img_information_1" class="circular" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="test">
                <img src="~/Content/Images/Index/Section_infromation/profesjonalizm.jpg" alt="img_information_1" class="circular" />
            </div>
            <h4 class="text-uppercase">Innowacyjność w działaniu</h4>
            <p>
                Dajemy klientom możliwość wspólnej pracy z naszymi ekspertami z zakresu
                logistyki na rzecz opracowywania innowacyjnych rozwiązań dopasowanych do
                specyfiki danej branży i wdrażania innowacji w praktyce.

            </p>
        </div>
        <div class="col-md-3">
            <h4 class="text-uppercase">Własny serwis</h4>
            <p>
                znamy nasze pojazdy na wylot dlatego możemy zagwarantować pomoc wykwalifikowanych
                mechaników i bogate doświadczenie. Jeśli dojdzie do niespodziewanej awarii, możemy
                zdalnie zdiagnozować pojazd i przekazać kierowcy instrukcje postępowania.
            </p>
            <div class="test">
                <img src="~/Content/Images/Index/Section_infromation/serwis.jpg" alt="img_information_1" class="circular" />
            </div>
        </div>
    </div>
</div>

<div class="container bus">
    <div class="row">
        <div class="col-md-6">
            <h4> Wynajem busów</h4>
            <hr width="300" />
            <p>
                Od roku 2008, wzbogaciliśmy naszą ofertę o wypożyczalnię busów. W związku z rosnącym zapotrzebowaniem i
                zainteresowaniem klientów, w 2013 roku zwiększyliśmy naszą flotę do 600 samochodów zlokalizowanych w
                największych miastach w Polsce, co daje nam jedną z wiodących pod względem liczebności flot samochodów w Europie Środkowo-Wschodniej.
                Obecnie posiadamy cztery filie w Warszawie (Janki, Łomianki, Marki, Centrum), jak również oddziały w Białymstoku, Bydgoszczy, Gdańsku,
                Katowicach, Krakowie, Lublinie, Łodzi, Olsztynie, Poznaniu, Szczecinie, Toruniu, Rzeszowie i Wrocławiu. W 2017 roku otworzyliśmy nowe oddziały
                w Częstochowie, Zielonej Górze. Nasze filie znajdują się w dogodnych dla Klientów lokalizacjach, dzięki czemu nie ma problemu z dotarciem do nas.
                W ofercie wynajem samochodów dostawczych z roczników 2018 i 2019 - w doskonałym stanie technicznym, na gwarancji producenta.
            </p>
            <button class="btn bus-button text-uppercase">Wynajmij</button>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/Index/Section_offer/bus_1.jpg" alt="bus" class="offer" />
        </div>
    </div>
</div>
<div class="container transport">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/Index/Section_offer/transport.jpg" alt="truck" class="offer_truck" />
        </div>
        <div class="col-md-6">
            <h4> Transport lądowy</h4>
            <hr width="300" />
            <p>
                Jesteśmy ekspertem w takich dziedzinach transportu jak transport krajowy – drogowy i kolejowy oraz transport międzynarodowy
                – drogowy, kolejowy, lotniczy i transport morski. Realizujemy kompleksowe usługi transportowe, gwarantując pomoc w załatwieniu
                wszelkich formalności związanych z przygotowaniem dowolnego typu towarów do przewozu na trasach krajowych i międzynarodowych.
                Realizujemy typowe zlecenia transportowe, polegające na przewozie standardowych przesyłek, jak również zlecenia niestandardowe,
                takie jak przewóz ładunków ponadgabarytowych.
            </p>
            <button class="btn bus-button text-uppercase">Sprawdź</button>
        </div>
    </div>
</div>
<div class="container float">
    <div class="row">
        <div class="col-md-6">
            <h4>Rodzaje usług.</h4>
            <img src="~/Content/Images/Index/Section_offer/4.jpg" alt="trucks" class="trucks" />

        </div>
        <div class="col-md-6">
            <h4>Nasza flota.</h4>
            <img src="~/Content/Images/Index/Section_offer/6.jpg" alt="trucks_2" class="trucks" />
        </div>
    </div>
</div>
<h2 class="client text-uppercase">NASI KLIENCI </h2>
<hr width="300" />
<div class="container client_logo">
    <div class="row">
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_1.png" alt="logo_client_2" class="logo_client_company" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_2.png" alt="logo_client_2" class="logo_client_company" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_3.png" alt="logo_client_3" class="logo_client_company" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_4.png" alt="logo_client_4" class="logo_client_company" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_5.png" alt="logo_client_5" class="logo_client_company" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_6.png" alt="logo_client_6" class="logo_client_company" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_3.png" alt="logo_client_3" class="logo_client_company" />
        </div>
        <div class="col-md-3">
            <img src="~/Content/Images/Index/Client_company/company_4.png" alt="logo_client_4" class="logo_client_company" />
        </div>
    </div>
</div>
<div class="container contact">
    <h2>Skontaktuj sie z nami</h2>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="przykladowyEmail">Adres Email</label>
                    <input type="email" class="form-control" id="przykladowyEmail">
                </div>
                <div class="form-group">
                    <label for="przykladowyEmail">Temat</label>
                    <input type="email" class="form-control" id="przykladowyEmail">
                </div>
                <div class="form-group">
                    <label for="przykladowaTextarea">Wiadomość</label>
                    <textarea class="form-control" id="przykladowaTextarea" rows="3"></textarea>
                </div>
            </form>
            <button class="btn bus-button text-uppercase">Sprawdź</button>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/Index/Contact/kontakt.jpg" alt="contact" class="img_contact" />
        </div>
    </div>
</div>