
/*SECTION INDEX*/

.sectionIndex {
    margin-top: 200px;
    margin-left: 20px;
    background-color: #d5d6d7;
    padding-bottom: 50px;
    box-shadow: 3px 3px 15px
}

    .sectionIndex h2 {
        color: #333399;
        padding-top: 70px;
        font-size: 3.4em;
    }

.p_index {
    padding-top: 15px;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.3em;
}

.company_index {
    font-size: 1.6em;
    padding-top: 70px;
    color: #78aadd;
}

/* CARD SHOW ALL ORDERS*/

.listOrders {
    margin-top: 90px;
}

    .listOrders h2 {
        text-align: center;
        color: #333399;
        font-size: 2.4em;
    }

    .listOrders p {
        text-align: center;
        font-style: italic;
        font-weight: lighter;
    }

.tableList {
    margin-top: 20px;
    box-shadow: 3px 3px 15px
}



    .tableList td, th {
        text-align: center;
        margin-left: 5px;
        border-top-style: none;
        background-color: white;
    }

    .tableList th {
        background-color: #333399;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.btn-NewOrderButton {
    margin-top: 50px;
    color: black;
    background-color: #f4e326;
    width: 120px;
}

.btn-NewOrderButtonSmall {
    margin-top: 50px;
    color: black;
    background-color: #f4e326;
    width: 85px;
}

/*NEW ORDER*/

.NewOrderFormClient {
    background-color: #ececec;
    margin-top: 90px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-shadow: 2.5px 2.5px 15px
}

    .NewOrderFormClient p {
        font-size: 1.09em;
        font-style: italic;
        font-weight: lighter;
        margin-left: 40px;
    }

    .NewOrderFormClient h2 {
        padding-top: 20px;
        margin-left: 40px;
        font-size: 2.4em;
    }

    .NewOrderFormClient h5 {
        font-size: 1.40em;
        font-weight: lighter;
        text-align: center;
        padding-top: 60px;
    }

.input_text {
    margin-left: 110px;
    font-size: 12px;
    font-style: italic;
    width: 70%;
    height: 35px;
}

.post_code {
    margin-left: 110px;
    font-size: 12px;
    font-style: italic;
    height: 35px;
    display: block;
    width: 25%;
}

.city {
    height: 35px;
    margin-left: 12px;
    width: 41%;
}

.post_code, .city {
    font-size: 12px;
    font-style: italic;
    display: table-cell;
}


.numberBuilding {
    height: 35px;
    margin-left: 12px;
    width: 26%;
}

.street {
    margin-left: 110px;
    font-size: 12px;
    font-style: italic;
    height: 35px;
    display: block;
    width: 40%;
}

.street, .numberBuilding {
    font-size: 12px;
    font-style: italic;
    display: table-cell;
}

.form-group .date_transport {
    margin-left: 125px;
    font-size: 0.9em;
    padding-bottom: -10px;
}

.input_text_description {
    margin-left: 110px;
    font-size: 12px;
    font-style: italic;
    width: 70%;
    height: 35px;
    padding-top: 20px;
    padding-bottom: 120px;
}


.dimensions1 {
    margin-left: 110px;
    font-size: 12px;
    font-style: italic;
    height: 35px;
    display: block;
    width: 35%;
}

.dimensions2 {
    height: 35px;
    margin-left: 12px;
    width: 30%;
}


.dimensions1, .dimensions2 {
    font-size: 12px;
    font-style: italic;
    display: table-cell;
}

.btn-save-order {
    margin-left: 90px;
    margin-top: 80px;
    padding: 11px;
    color: white;
    background-color: #333399;
    width: 150px;
}


/* DETAILS INFO CLIENT*/


.infoClient {
    background-color: #ececec;
    margin-top: 90px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-shadow: 2.5px 2.5px 15px
}


    .infoClient p {
        font-size: 1.09em;
        font-style: italic;
        font-weight: lighter;
        margin-left: 40px;
    }

    .infoClient h2 {
        padding-top: 20px;
        margin-left: 40px;
        font-size: 2.4em;
    }

    .infoClient h5 {
        font-size: 1.40em;
        font-weight: lighter;
        text-align: center;
        padding-top: 60px;
    }


.standarDane {
    padding-left: 100px;
    font-weight: bold;
    font-size: 1em;
    color: #333399;
}

.dbDane {
    font-style: italic;
}

.buttonsShowProfile {
    margin-top: 20px;
    padding-left: 135px;
}

.btn-ShowProfileButton {
    margin-top: 20px;
    padding: 5px;
    color: white;
    background-color: #333399;
    width: 100px;
}


/* CHANGE PASSWORD*/


.changePassword {
    background-color: #ececec;
    margin-top: 90px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-shadow: 2.5px 2.5px 15px
}

    .changePassword t p {
        padding-top: 20px;
        font-size: 1.09em;
        font-style: italic;
        font-weight: lighter;
        margin-left: 40px;
    }

    .changePassword h2 {
        padding-top: 20px;
        margin-left: 40px;
        font-size: 2.4em;
    }

    .changePassword h5 {
        font-size: 1.40em;
        font-weight: lighter;
        text-align: center;
        padding-top: 60px;
    }


/*EDYCJA DANYCH*/

.show_text {
    font-size: 0.9em;
    margin-left: 110px;
    font-style: italic;
    font-weight: lighter;
}
